.input{
  height: 35px;
  width: 100%;
  border: none;
  color: var(--main-text-color);
  background: none;
  display: block;
}
.label input{
  border: none;
  /* border-left: solid var(--border-color); */
  outline-color: transparent;
  outline: none;
  margin: 2px;
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 16px;
}
.label{
  display: flex;
  width: 90%;
  border: solid 1px var(--border-color);
  margin: 20px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 4px;
}

.select{
  height: 100%;
  width: 12rem;
  border: none;
  text-align: start;
  outline-color: blue;
  font-weight: bolder;
  margin: 1px;
  margin-right: 5px;
}

.select option{
  color: blue;
  margin-top: 20px;
  height: 100px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  border: none;
}

.select option:hover{
  background-color: var(--bg-color);
}



label.focus{
  border-color: blue;
}

.option{
  width: 300px;
  height: 300px;
}
.borde{
  border: none;
}
