html,
body,
#root {
  background-color: var(--bg-color);
  font-family: var(--fonts);
  font-size: var(--font-size);
  color: var(--secondary-text-color);
}

:root {
  --bg-color: #212121;
  --border-color: #6b6b6b;
  --tb-border-color: #3b3b3b;
  --main-text-color: #f8ffea;
  --secondary-text-color: #8b8b8b;
  --main-button-color: #097bed;
  --secondary-button-color: #3b3b3b;
  --accent-color: #ff6c37;
  --font-size: small;
  --fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
  Helvetica, Roboto, Oxygen, Arial, "Apple Color Emoji", "Segoe UI Emoji",
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --tab-height: 30px;
}

.containerLayout {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
}

.containerMainView {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
