html,
body,
#root {
  background-color: var(--bg-color);
  font-family: var(--fonts);
  font-size: var(--font-size);
  color: var(--secondary-text-color);
}

:root {
  --bg-color: #212121;
  --secondary-bg-color: #262626;
  --border-color: #6b6b6b;
  --tb-border-color: #3b3b3b;
  --main-text-color: #f8ffea;
  --secondary-text-color: #8b8b8b;
  --main-button-color: #097bed;
  --secondary-button-color: #3b3b3b;
  --hover-color: #3b3b3b;
  --accent-color: #ff6c37;
  --font-size: small;
  --fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
  Helvetica, Roboto, Oxygen, Arial, "Apple Color Emoji", "Segoe UI Emoji",
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --sidebar-closed-width: 60px;
  --sidebar-open-width: 260px;
  --highlight-text-color: #097bed;

  --tab-height: 30px;
}

.containerLayout-expanded {
  margin-left: var(--sidebar-closed-width);
  width: calc(100% - var(--sidebar-closed-width));
  height: 100%;
  display: flex;
}

.containerLayout-packed {
  margin-left: var(--sidebar-open-width);
  width: calc(100% - var(--sidebar-open-width));
}

.containerMainView {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
